.banner-card{
    background-color: white;
    display: flex;
    margin-left:20px;
    flex-flow: column;
    width: 96vw;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    overflow: hidden;
    text-decoration: none;
    padding-bottom: 30px;
}